src/n8n/fileUploadFlow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "upload-audio",
        "responseMode": "lastNode",
        "responseData": "allEntries",
        "options": {
          "binaryPropertyName": "audio"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "1cebbd27-17c8-42a1-b6de-83bf43cf572d",
      "name": "Webhook",
      "webhookId": "fad15dbb-5a4f-46f8-9d17-fe4cbcfa2a62"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8000/transcribe-original-audio",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "audio_file",
              "inputDataFieldName": "audio0"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        208,
        0
      ],
      "id": "7366b0ad-89fd-4a9b-98e1-9f57ca6b24a5",
      "name": "Diarize + Transcribe"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8000/index-audio",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "metadata",
              "value": "={{JSON.stringify($json)}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        416,
        0
      ],
      "id": "d4da2428-b517-46a2-b7c6-5b43fc8a13df",
      "name": "HTTP Request"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Diarize + Transcribe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Diarize + Transcribe": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "c9b87d35-1830-48c5-bda1-d9a4322caaec",
  "meta": {
    "instanceId": "d1d67826bb49cfa9f5ff49f52c97a72ff05970f49c4dc25299f7cb6038d140fa"
  },
  "id": "exD2GNbUiOEmn7Go",
  "tags": []
}